**operater**

In [ ]:
print(8%3)

2

In [ ]:
#print(13//3)

print(2**10)

1024

In [ ]:
#comparision operartor

#print(3>2)

#print(3==3)

print(3!=2)

True

**Logical operator**

In [ ]:
print(not(3>4and 3<4))

True

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
/tmp/ipython-input-3062795105.py:1: SyntaxWarning: invalid decimal literal
  print(not(3>4and 3<4))

In [ ]:
#assignment operator

#identity operator

a = 1234
b = "1234"
print(a is not b)

True

In [ ]:
#Bit Wise Operator

print(bin(15))

0b1111

In [ ]:
a = 10
b = 8

#print(a&b)
#print(a|b)
print(a^b)

2

**Membership operator**

In [ ]:
#in
#not in

a = "hello"
print("h "in a)

False

# **conditional statement**

In [ ]:
#if statement


marks = 87

if marks>=76 :
  print('you will get a mobile phone')

  print("thank you")

you will get a mobile phone
thank you

In [ ]:
#if-else statement

marks = 87

if marks >=90:
  print("you will get a phone")
else :
  print("no phone for 1 week")

print("thankyou")

no phone for 1 week
thankyou

In [ ]:
#if-elif-else statment

marks = 87

if marks >= 90:
  print('you can go a trip')
elif marks >= 80 and marks< 90:
  print("you will get a new phone")
elif marks >=70 and marks <80:
  print("you will get new boook")
else:
  print("you will not get your phone back")

you will get a new phone

In [ ]:
#Nested if statement

marks = 87

if marks >= 80:
  print("you will get a phone")
  if marks >= 95:
    print("you can go tio trip")

else:
  print("no phonr for a month")

you will get a phone

In [ ]:
#Short hand if statement

marks = 87

if marks >= 80: print("you will get a phone")

you will get a phone

In [ ]:
#short hand if else statement

marks = 87

print("you will get a phone") if marks >= 80 else print("no phone for a month")

you will get a phone

**Problem Solving**

In [ ]:
#write a program to check if a number is positive

num = int(input("enter a number here:"))
if num>0:
  print("number is positive")

enter a number here:5
number is positive

In [ ]:
 #Write a program to check whether a number is even or odd

 num =int(input("enter a number here:"))

if num%2 ==0:
  print ("it is AN EVEN NUMBER")
else:
  print ("it is an odd number")

enter a number here:234
it is AN EVEN NUMBER

In [ ]:
#Write a program to create area calculator

print("*****AREA CALCULATOR*****")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle""" )

choice =int(input("enter a number between 1-4:"))

if choice == 1:
  side = float(input("enter the lenght of one side:"))
  area = side**2
  print ("the area of square is ",area)

elif choice == 2:
  lenght = float(input("enter the lenght of the rectangle:"))
  width = float(input("enter the width of the rectangle:"))
  area = lenght*width
  print("the area of rectangle is ",area)

elif choice == 3:
  radius = float(input("enter the radius of the cicle:"))
  area ((22/7)*(radius**2))
  print("the area of the circle is", area)

elif choice == 4:
  base = float (input("enter the base of the triangle:"))
  height = float(input("enter the height of the triangle:"))
  area =0.5*base*height
  print("the area of the triangle is",area)

else:
  print("invalid input")

*****AREA CALCULATOR*****
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle
enter a number between 1-4:2
enter the lenght of the rectangle:2.0
enter the width of the rectangle:3.9
the area of rectangle is  7.8

In [ ]:
#Writw a program whther the passed letter is vowel or not

letter = input("enter a letter here:")
if letter in "aeiou":
  print("it is vowel")
else:
  print("it is not a vowel")

enter a letter here:y
it is not a vowel

In [ ]:
#write a program to check if a number is a single digit number,2-digit number and so on...., up to 5 digits.

num = int(input("ente ra number here up to 5 digits:"))

if num>=0 and  num<=9:
  print("it is a sigle digit number")

elif num>=10 and num<=99:
    print("it is a double digit number")
elif num>=100 and num<=999:
  print ("it is a three digit number")
elif num>=1000 and num<=9999:
  print("it is a four digit number")
else:
  print("it is a five digit number ")

ente ra number here up to 5 digits:7865
it is a four digit number

# **Introduction to Loops**

In [ ]:
#For Loop

for i in range (2,6,2):
  #print("hello world")
  print(i)

2
4

In [ ]:
n = int(input("enter a number here:"))

for i in range (1,11):
  print(n,"*",i,"=",n*i)

enter a number here:12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
#While Loop

n = 0

while n<=10:
  print(n)
  n +=2

0
2
4
6
8
10

In [ ]:
n = 1
#a = 7
a = int(input("enter the number here:"))
while n<=10:
  print(a,"*",n,"=",n*a)
  n+=1

enter the number here:14
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [ ]:
#While True
#n =1


while True:
  num1 = int(input("enter a number here:"))
  num2 = int(input("enter a number here:"))

  print(num1+num2)
  repeat = input('do you want to stop the program:')
  if repeat == "yes":
    break
  #print("1")
  #n+=1

enter a number here:4
enter a number here:67
71
do you want to stop the program:no
enter a number here:4
enter a number here:4
8
do you want to stop the program:yes

In [ ]:
#Nested Loop

for i in range (1,4):
  for j in range (1,11):
    print (j,end ="")

123456789101234567891012345678910

In [ ]:
for i in range (1,6):
 for j in range (1 , i+1):
    print (j, end = " ")

1 1 2 1 2 3 1 2 3 4 1 2 3 4 5

In [ ]:
#for loop with conditional statement

for i in range (1,11):
  if i == 3:
    print ("add this song to the favs")
else:
      print(i)

add this song to the favs
10

In [ ]:
for i in range (1,101):
  if i%8 == 0 and i%12 ==0:
    print(i)

24
48
72
96

In [ ]:
n =1
while n <=10:
  if n ==3:
    print("add this to favs")
else:
      print(n)
      n +=1

KeyboardInterrupt:

In [ ]:
for i in range (1,11):
 # if i == 5:
 if i ==7:
    #continue
    break
else:
  print("thankuou")

# **Problem Statement**

In [ ]:
#Write a program to find a sum off all the even numbers up to 50
sum = 0
for i in  range (1,51):
  if i%2 == 0:
    sum +=i
    print ("the sum all even number up to 50 is", num)

the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865
the sum all even number up to 50 is 7865

In [ ]:
#Write a program to write first 20 numbers and their squared numbers

for i in range(1,21):
  print (i,i*2)

1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20
11 22
12 24
13 26
14 28
15 30
16 32
17 34
18 36
19 38
20 40

In [ ]:
#Find the program to find the sum of first 10 odd numbers using while loop

sum = 0
n = 0
while n <=20:
  if n%2  != 0:
    sum += n
    n +=1
print ('the sum of first 10 odd number is',sum)

KeyboardInterrupt:

In [ ]:
#write a program to check if a number is divisible by 8 and 12, up to 100 numbers

for i in range (1,100):
  if i%8 ==0 and i% 12==0:
    print(i)

24
48
72
96

In [ ]:
#Write a program to create a billing system at supermarket.

while True:
  name = input("enter custmer's name:")
  total = 0
  while True:
    print("enter the amount and quantity")
    amount = float(input("enter amount:"))
    quantity = float(input("enter quantity:"))
    total +=amount*quantity
    repeat += input("do you want to add more items:")
    if repeat == "no":
      break

    print("-"*40)

    print ("Name:", name)
    print ("Amount to be paid:", total)
    print("-"*40)
    print("********Happy Shopping********")

    repeat1 = input("do you want to go to next custmer?(yes/no): ")
    if repeat1 =="no":
      break

enter custmer's name:vaibhav
enter the amount and quantity
enter amount:45
enter quantity:56
do you want to add more items:yes
----------------------------------------
Name: vaibhav
Amount to be paid: 2520.0
----------------------------------------
********Happy Shopping********
do you want to go to next custmer?(yes/no): no
enter custmer's name:lisa
enter the amount and quantity
enter amount:45
enter quantity:56
do you want to add more items:no
----------------------------------------
Name: lisa
Amount to be paid: 2520.0
----------------------------------------
********Happy Shopping********
do you want to go to next custmer?(yes/no): no

KeyboardInterrupt: Interrupted by user

Problem solving

In [ ]:
#A ="Why fit in, When you are Born to Stand Out!"#
#1.) write a program to find thhe lenght of string.
#2.) write a program to check how many alphabates o is occuring.
#3.) wrie a program to convert the whole string into lower and upper cases.
#4.) write a program to convert the following string into a little.
#5.) write a program to find the index number of "fit in"

In [ ]:
a =" Why fit in, when you are Born to Stand Out!"
b = (len(a))
print("the lenght of given string is",b)

the lenght of given string is 44

In [ ]:
a = "Why fit in, when you are Born to Stand Out!"

print(a.count("o"))

3

In [ ]:
a = "Why fit in , when you are Born to Stand Out!"
x = a.upper()
print(x)

#y = a.lower()
#print(y)

WHY FIT IN , WHEN YOU ARE BORN TO STAND OUT!

In [ ]:
a = "Why fit in, when you are Born to Stand Out!"

#z = a.title()
#print(z)
print(a.find("fit in"))

4

In [ ]:
#Pattern Problem

for i in range (1,6):#rows
 #for j in range (1,i+1):#colom
   for j in range(6,i,-1):
   # print("j",end = " ")
      print(i, end = " ")
   print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(1,6):
   for j in range(5, i, -1):
      print (" ", end = " ")
   for k in range (i):
      print("*", end = " ")
   print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range ( i, 0, -1):
    print (j, end = " ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
for i in range(1,6):
  for j in range (0, i+1):
    print("*", end = " ")
  print()
for i in range(5, 0, -1):
  for k in range(0,i-1):
    print("*", end = " ")
  print()

* *
* * *
* * * *
* * * * *
* * * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range (1,11):
  for j in range(1,i+1):
    print (i*j, end = " ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
#String Manupulation

a ="Hello world"
print(type(a))
print(a)

<class 'str'>
Hello world

**String Manupulation**

In [ ]:
a = "Harry potter and the Goblet of Fire"
print(a)
#print(len(a))

#print(a.count("o"))

#to covert each letter in upper letter

#print(a.upper())
#print(a.lower())

# to find indwx of any chrecter

#print(a.index("o",15,34))

#to conevrt the first letter capital
#print(a.capitalize())


#to convert a string into lower case
#print(a.casefold())

#to find the index number of charecter
#print(a.find("o"))

#to write variable inside a string

name = "John"
b = "my name is {}"
print(b.format(name ))

Harry potter and the Goblet of Fire
my name is John