In [2]:

print("Hello World")

Hello World

In [3]:
print("i am good boy")

i am good boy

In [4]:
print("""Hello world
this is my first program
i am good boy""")

Hello world
this is my first program
i am good boy

In [6]:
print("hello world\n vaibhav\nmishra")

hello world
 vaibhav
mishra

In [7]:
#comment in python
"""multiline comment"""

'multiline comment'

In [8]:
#Variable

a = "hello"
print(a)

hello

In [ ]:
#variable in python
#case senstive,

In [ ]:
#data types

In [10]:
#user- input

name = input("enter your name here")
print(name)

enter your name herevaibhav
vaibhav

In [11]:
name = int(input("enter your age"))
print(name)

enter your age25
25

In [12]:
name = float(input("enter your age"))
print (name)

enter your age24
24.0

In [13]:
exp1 = eval (input("enter any equation here"))
print (exp1)

enter any equation here5
5

*type casting**

In [14]:
name = "jhon"
print(type(name))

<class 'str'>

In [15]:
age = 23
print(type(age))

<class 'int'>

In [16]:
a = 123
b = 1.23
print (type(a))
print (type(b))

<class 'int'>
<class 'float'>

**Problem solving**

In [17]:
#write a program to display a person's name , age and adress in three diffrent lines

name = "vibhav"
age = 23
address = "64 lakh street"

print (name)
print (age)
print(address)

vibhav
23
64 lakh street

In [18]:
 # write a program to swap two variable:
 #METHOD 1

x = 12
y = 13
temp = x
print (temp)
x = y
y = temp
print (y)
print ("value of x is",x)
print ("value of y is", y)

12
12
value of x is 13
value of y is 12

In [19]:
#METHOD 2

a = 30
b = 40

a ,b = b,a
print (b)
print(a)

30
40

In [20]:
#write a program to convert a float into integer

x = 12.4
print (type(x))

x = int(x)
print(type(x))
print (x)

<class 'float'>
<class 'int'>
12

In [21]:
#write a program to take details from a student for id-card and then print it in diffrent lines:


name = input("enter of the student name")
grade = input("enter of the student grade")
section = input("enter of the student section")
rollno = input("enter of the student rollno")
email = input("enter of the student email")
print("Student Identity Card")
print("name :", name)
print("grade :", grade)
print("section", section)
print("rollno :", rollno)
print("email :", email)

enter of the student nameVaibhav
enter of the student grade3
enter of the student sectionf
enter of the student rollno234
enter of the student emailvaib@123
Student Identity Card
name : Vaibhav
grade : 3
section f
rollno : 234
email : vaib@123

In [22]:
#write a program to take an user input as integer then convert it to  float


a = int(input("ente rnumber here"))
print (a)
print (type(a))
a = float (a)
print ("after conversation", a)
print (type (a))

ente rnumber here12
12
<class 'int'>
after conversation 12.0
<class 'float'>

**Operators and Operands**