String Function

In [ ]:
#endswith() - Returns true if the string ends with the specified value

a ="Haryy Potter"
#print(a.endswith("r"))
print(a.endswith("t",6,9))

True

In [ ]:
#startwith() - returns true if the string starts with the specified value

a = "Harry potter"
print (a.startswith("H"))

True

In [ ]:
#swapcase() - swap cases , lower case become upper case and vice versa

a ="Harry Potter"
print(a.swapcase())

hARRY pOTTER

In [ ]:
#strip()- Retruns a trimmed version of the string

a = "Harry  potter     "

print(a.strip())

Harry  potter

In [ ]:
#split()- splits the string at the specified separator, and returns a list

a ="#OOFD#BRB#OMW#TB"
print(a.split("#"))

['', 'OOFD', 'BRB', 'OMW', 'TB']

In [ ]:
#ljust - returns a left justified version of the string

a = "Harry Potter"

x = a.ljust(20)

print (x,"is my favroit movie")

Harry Potter         is my favroit movie

In [ ]:
#rjust - return a right

a = "hrry potter"
x = a.rjust(20," ")

print(x,"is my fav movie")

         hrry potter is my fav movie

In [ ]:
#replace() - returns a string where a specified value is replaced with a specified value
a ="my name is jhon"
print(a)
print(a.replace("jhone", "vaibhav"))

my name is jhon
my name is jhon

In [ ]:
#rindex()

a ="harry potter and the prisoner of azkaban"

print(a.rindex("prisoner"))

21

In [ ]:
#rfind

a ="harry potter and the prisoner of azkaban"
print(a.rfind("prisoner"))

21